/build/index.php
/build/res
/build/sourceCode/BackUps
/build/sourceCode/history
/build/versionHistory
/build/versionHistory.txt

/dev

/node_modules

/src/index.php
/src/res
/src/sourceCode/BackUps
/src/sourceCode/history
/src/versionHistory
/src/versionHistory.txt

.DS_Store